<style>
    .success {
        margin-top: 10%;
        text-align: center;
        height: 500px;
    }
</style>

<div class="success">
    <h1><b>Bạn đã đăng ký thành công!</b></h1>
    <a href="#">Đăng nhập tại đây!</a>
</div>

