<style>
    .welcome {
        margin-top: 10%;
        text-align: center;
        height: 500px;
    }
</style>

@using (Html.BeginForm("GetForm", "DangKy"))
{
    <div class="welcome">
        <h1><b>Chào mừng đến với Website Quản lý Nhà trọ</b></h1>
        <h3>Bạn đang đăng ký với tư cách: </h3><hr />
        <input value="Chủ trọ" type="submit" name="table" class="btn btn-warning" />&nbsp;
        <input value="Người dùng" type="submit" name="table" class="btn btn-warning" />
    </div>
}

