@model IEnumerable<ModelsMVC.Framework.Phong>

@{
    ViewBag.Title = "danhsach_phong";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#dsphong").change(function (event) {
            var phongID = $(this).val();
            if (phongID == "")
                location.reload();
            $.ajax({
                url: "@Url.Action("ds_phong_ajax", "Phong")",
                data: { id: phongID },
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#txtInfo").html("");
                    $("#txtInfo").html(data);
                    console.log(data);
                }
            });
        });
    });

</script>
<div>
    <div class="dropdown" style="width: 400px">
        @Html.DropDownList("dsphong", (List<SelectListItem>)ViewBag.Phong, "--- Chọn phòng ---", htmlAttributes: new { @class = "form-control" })
    </div>
    <div id="txtInfo">
        @Html.Partial("ds_phong_ajax", Model)
    </div>
</div>