@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<!------ TIN TỨC CHÍNH ---------->
<div class="row">
    <div class="col-lg-12">
        <h3><b>TIN NỔI BẬT</b></h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                            <div class="col-md-9">
                                <h2>Slide 1</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                            <div class="col-md-9">
                                <h2>Slide 2</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                            <div class="col-md-9">
                                <h2>Slide 4</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                            <div class="col-md-9">
                                <h2>Slide 3</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, labore, magni illum nemo ipsum quod voluptates ab natus nulla possimus incidunt aut neque quaerat mollitia perspiciatis assumenda asperiores consequatur soluta.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Item -->
            </div>
            <!-- End Carousel Inner -->
            <div class="controls">
                <ul class="nav">
                    <li data-target="#custom_carousel" data-slide-to="0" class="active"><a href="#"><img src="http://placehold.it/50x50"><small>Slide One</small></a></li>
                    <li data-target="#custom_carousel" data-slide-to="1"><a href="#"><img src="http://placehold.it/50x50"><small>Slide Two</small></a></li>
                    <li data-target="#custom_carousel" data-slide-to="2"><a href="#"><img src="http://placehold.it/50x50"><small>Slide Three</small></a></li>
                    <li data-target="#custom_carousel" data-slide-to="3"><a href="#"><img src="http://placehold.it/50x50"><small>Slide Four</small></a></li>
                </ul>
            </div>
        </div>
        <!-- End Carousel -->
    </div>
</div>
<!------ LỌC ---------->
<div class="row">
    <div class="col-lg-12">
        <h3>Cho Thuê Phòng Cần Thơ Giá Rẻ</h3>
        <p>Bổ sung trích lọc ở đây......</p>
    </div>
</div>
<!------ PANEL ---------->
<div class="row" style="margin-top:40px">
    <div class="col-md-9">
        <div class="panel with-nav-tabs panel-warning">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1warning" data-toggle="tab">Tất cả</a></li>
                    <li><a href="#tab2warning" data-toggle="tab">Cá nhân</a></li>
                    <li><a href="#tab3warning" data-toggle="tab">Môi giới</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">Ưu tiên <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-toggle="tab">Tin mới trước</a></li>
                            <li><a href="#" data-toggle="tab">Giá thấp trước</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1warning">
                        <p>Nhà trọ 1</p>
                        <p>Nhà trọ 2</p>
                        <p>Nhà trọ 3</p>
                        <p>Nhà trọ 4</p>
                    </div>
                    <div class="tab-pane fade" id="tab2warning">Nhà trọ 1</div>
                    <div class="tab-pane fade" id="tab3warning">Nhà trọ 2</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <h3 style="margin-top: 0">Tìm theo khu vực</h3>
            <div class="list-group">
                <a href="#" class="list-group-item">Cho thuê phòng trọ tại Q.Bình Thủy <span class="badge">5</span></a>
                <a href="#" class="list-group-item">Cho thuê phòng trọ tại Q.Ninh Kiều <span class="badge">12</span></a>
                <a href="#" class="list-group-item">Cho thuê phòng trọ tại Q.Cái Răng <span class="badge">7</span></a>
                <a href="#" class="list-group-item">Cho thuê phòng trọ tại Q.Thốt Nốt <span class="badge">1</span></a>
            </div>
        </div>
        <div class="row">
            <div class="adfloat" id="divBannerFloatRight">
                <p>
                    <a href="http://hocwebgiare.com/" target="_blank"><img src="http://hocwebgiare.com/images/right_banner.jpg" alt=""></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="adfloat" id="divBannerFloatRight">
                <p>
                    <a href="https://www.youtube.com/watch?v=BvrFe2nbZt8&feature=youtu.be" target="_blank"><img src="https://channel.mediacdn.vn/prupload/156/2018/08/img20180816095057897.jpg" width="300" height="424" alt=""></a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
   
    $(document).ready(function (ev) {
    /*Script của băng chuyền*/
        $('#custom_carousel').on('slide.bs.carousel', function (evt) {
            $('#custom_carousel .controls li.active').removeClass('active');
            $('#custom_carousel .controls li:eq(' + $(evt.relatedTarget).index() + ')').addClass('active');
        })
    });
</script>